
div
{
    border: 2px solid black;
    padding: 1rem;
    margin: 2rem;
    width: 60%;
    margin-left: 18rem;
    text-align: center;
}


input
{
    display: block;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    margin-left: 10rem;
    border-radius: 25px;
}
input:last-child
{
    border: none;
}

button
{
    margin: 1rem;
    /* margin-left: 10rem; */
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
}